<div id="<%= dom_id recipe %>">
    <h1>
        <%= recipe.name %>
    </h1>
    <label class="switch">
        <% if recipe.public %>
            <input type="checkbox" checked>
        <% else %>
            <input type="checkbox">
        <% end %>
        <span class="slider round"></span>
    </label>

    <p>
        Recipe by: <%= recipe.user.name %>
    </p>
    <p>
        Recipe Description: <%= recipe.description %>
    </p>
    <p>
        Recipe Prepration Time: <%= recipe.prepration_time %>
    </p>
    <p>
        Recipe Cooking Time: <%= recipe.cooking_time %>
    </p>
    <p>
        public: <%= recipe.public %>
    </p>
</div>
