<%= stylesheet_link_tag "recipes_index.css" %>

<h1><%=@user.name %> Recipes List</h1>

<div id="recipes">
  <% if @recipes.empty? %>
     <h3>There are no recipes to display for this user. Please add a recipe.</h3>
  <% end %>
  <% @recipes.each do |recipe| %>
    <div class="recipes-container">
    <div class="recipes-card">
    <div class="recipe-informations">
    <h3><%= link_to recipe.name, user_recipe_path(id: recipe.id, user_id: recipe.user.id), class: "recipes-title" %></h3>
    <% if can? :manage, recipe %>
      <%= button_to "Delete" , user_recipe_path(recipe.user, recipe.id), method: :delete %>
    <% end %>
    </div>
    <p class="recipes-description"><%= recipe.description %></p>
    </div>
    </div>
  <% end %>
</div>
