<%= stylesheet_link_tag "food-index.css" %>

<p style="color: green"><%= notice %></p>

<h2>Foods</h2>

<% if @foods.empty? %>
  <h3>No foods found.</h3>
  <p class="content-buttons"><%= link_to "New food", new_food_path %></p>
<% else %>
  <div id="foods">
    <table>
      <th>
        <p>
          <strong>Name</strong>
        </p>
      </th>
      <th>
        <p>
          <strong>Measurement unit</strong>
        </p>
      </th>
      <th>
        <p>
          <strong>Price</strong>
        </p>
      </th>
      <th>
        <p>
          <strong>Quantity</strong>
        </p>
      </th>
      <th>
        <p>
          <strong>Actions</strong>
        </p>
      </th>
      <% @foods.each do |food| %>
        <tr>
          <td>
            <%= food.name %>
          </td>
          <td>
            <%= food.measurement_unit %>
          </td>
          <td>
            <%= food.price %>
          </td>
          <td>
            <%= food.quantity %>
          </td>
          <% if can? :manage, food %>
            <td>
              <%= button_to "Delete", food, method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>