<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <h1>
    RecipeApp
    </h1>
    <a href="#">
    Sign in
    </a>
    <a href="#">
    Sign up
    </a>
    <a href="#">
    Login
    </a>
    </header>
    <%= yield %>
  </body>
</html>