<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<html lang="<%= I18n.locale %>">
<html>
  <head>
    <title>RecipeApp</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="d-flex justify-content-between align-items-center p-3">
      <div class="text-white text-2xl font-bold">
        RecipeApp
      </div>
      <div class="d-flex">
        <% if user_signed_in? %>
          <button><%= link_to "Sign out", destroy_user_session_path, method: :delete,class:"decoration" %></button>
          <button><%= link_to  "Recipes List",  user_recipes_path(current_user.id) ,class:"decoration"%></button>
          <button> <%= link_to  "Food List", foods_url,class:"decoration" %></button>
          <button> <%= link_to  "Shopping List", shopping_list_index_path	,class:"decoration" %></button>
          <button> <%= link_to "Public Recipes", recipes_index_path,class:"decoration" %></button>
          <button> <%= link_to "Add Recipe", new_user_recipe_path(user_id: current_user.id),class:"decoration" %></button>
          <button> <%= link_to "Add Food", new_food_path,class:"decoration" %></button>
        <% else %>
          <button><%= link_to  "Sign up", new_user_registration_path,class:"decoration" %></button>
          <button><%= link_to "Login in", new_user_session_path,class:"decoration" %></button>
          <button> <%= link_to "Public Recipes", recipes_index_path,class:"decoration" %></button>
        <% end %>
      </div>
    </header>
    <div class="main-wrapper">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>